<div data-role="page" id="events" data-title="Events">

  <%= render :partial => 'shared/header' %>

  <div data-role="content">
    <div class="content-primary">
      <ul data-role="listview">
         <% @events.each do |event| %>
           <li><%= link_to event.name, event, :"data-ajax" => false %></li>
         <% end %>
      </ul>
    </div>
  </div>

  <%= render :partial => 'shared/footer' %>
</div>