<!DOCTYPE html>
  <html>
  <head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Contact form submission:</p>
    <p><%= @params['college'] %></p>
    <p><%= @params['comment'] %></p>
  </body>
</html>