<div data-role="page" id="favorites" data-title="Favorites">

  <div data-role="content">
    <div class="content-primary">
      <p><%= @favorite_message %></p>
      <%= link_to "OK", "#", :"data-role" => "button", :"data-rel" => "back" %>
    </div>
  </div>

</div>