<div data-role="page" id="rate" data-title="Rate">

  <div data-role="content">
    <div class="content-primary">
    <div style="width: 262px; margin: 0 auto;">
      <%= link_to image_tag('thumb_up.png'), vote_up_event_path(@event), :remote => true, :method => :post, :class => "thumb", :"data-rel" => "back" %>
      <%= link_to image_tag('thumb_down.png'), vote_down_event_path(@event), :remote => true, :method => :post, :class => "thumb", :"data-rel" => "back" %>

      <a href="#" data-rel="back" data-role="button">Cancel</a>
    </div>

  </div>
</div>

</div>
