<div data-role="page" id="categories" data-title="Categories">

  <%= render :partial => 'shared/header' %>

  <div data-role="content">
    <% options = options_from_collection_for_select(Category.all(:order => :name), :id, :name) %>
    <%= select_tag :category_id, options, {} %>
  </div>

  <div style="width: 69px; margin: 0 auto;">
    <input type="image" vspace="5" data-role="none" name="choose_category" src="<%= image_path('submit_go.png') %>" width="69" height="35" border="0" />
  </div>

  <%= render :partial => 'shared/footer' %>
</div>