<div data-role="page" id="subcategories" data-title="Subcategories">

  <%= render :partial => 'shared/header' %>

  <div data-role="content">
    <div class="content-primary">
      <ul data-role="listview">
         <% @subcategories.each do |subcategory| %>
           <li><%= link_to subcategory.name, list_events_path(subcategory) %></li>
         <% end %>
      </ul>
    </div>
  </div>

  <%= render :partial => 'shared/footer' %>
</div>